{% extends "NG/layout.html" %}
{% load static %}

{% block title %}Norbert's Gambit Cost and Tax Calculator{% endblock %}

{% block script %}
    <script src="{% static 'NG/norberts_gambit.js' %}"></script>
    <script>var auth = "{{request.user.is_authenticated}}";</script>
    <style>
        .spread {
            margin-right: 5px;
        }
        .description {
            display: none;
        }
    </style>
{% endblock %}

{% block body-fluid %}
    <div class="row justify-content-start">
        <div class="col-lg-4 mb-1">
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                Saved Trades
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
            </button>
        </div>
        <div class="col-lg-4 mb-1">
            <h1 class="text-center">Norbert's Gambit Calculator</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Saved Trades</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {% if not user.is_authenticated %}
                Please <a href="{% url 'login' %}" class="link-primary">login</a> or <a href="{% url 'register' %}" class="link-primary">sign up</a> to save trades and view tax information.
            {% else %}
                <div class="form-floating mb-2">
                    <select id="year_select" class="form-select" aria-label="Default select example"></select>
                    <label for="year_select">Year</label>
                </div>
                <div class="form-floating mb-2">
                    <select id="portfolio_select" class="form-select" aria-label="Default select example"></select>
                    <label for="portfolio_select">Portfolio</label>
                </div>

                <button type="button" class="btn btn-outline-primary" onclick="crud_api_call()">Filter</button>
                <button type="button" class="btn btn-outline-success" onclick="load_tax()">Generate Tax Information</button>

                <hr>
                <div id="trades-container"></div>
            {% endif %}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            More Info
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Norbert's Gambit is a technique used by many Canadian investors to cheaply exchange between CAD / USD.</li>
                                <li>It involves purchasing a dual-listed security, journaling it, and then selling it in order to receive the proceeds in the desired currency.</li>
                                <li>It is almost exclusively done using the DLR.TO / DLR.U.TO pair of ETFs, which are pegged to the US Dollar.</li>
                                <li>I built this tool to expand upon existing tools, but with a greater variety of features.</li>
                                <ul>
                                    <b><u>Features</u></b>
                                    <li><strong>Bid / ask spreads:</strong> This tool accounts for the live bid / ask spread on both DLR.TO and DLR.U.TO. Most existing tools don't account for this, and only pull a single quoted price.
                                        Not only is it important to know the exact prices at which you will trade for the sake of accuracy, but also because it is likely that potential ECN fees will be codependent on whether you choose to transact at the bid or ask.</li>
                                    <li><strong>FX rates:</strong> Most tools only pull the current FX rate, and use it to calculate trading costs throughout the entire pair of trades. I have implemented the ability to specify an FX rate on both the date of purchase and the date of sale.
                                        The benefits of this are twofold. First, inbetween the purchase and sale date, the investor may experience a meaningful amount of drift in currency prices. If this is not accounted for, the trading costs will not be accurate.
                                        Second, the integrity of the data of past trades will not be skewed based off the interest rate drift from the time the trades occured to the time the calculation is being ran.</li>
                                    <li><strong>Implicit costs:</strong> Most tools will only account for explicit trading costs, defined as the sum of the ECN fees and commissions. In addition to explicit costs, this tool also accounts for implicit trading costs.
                                        These consist of both the bid / ask spreads that could be either payed or earned based on the investors liquidity preferences, and the profit / loss realized from FX rate drift while the trades are settling and the shares are journaling.</li>
                                </ul>
                                <b><u>NOTES</u></b>
                                <li>The included FX lookup tool fetches data directly from the BoC. If this field is left blank, data from the most recent business day will be used. This is recommended if you are calculating costs for a future trade.
                                    Please refer to their <a href="https://www.bankofcanada.ca/rates/exchange/">website</a> or their <a href="https://www.bankofcanada.ca/valet/docs">API</a> for any further information.</li>
                                <li>At any time when a currency conversion needs to be calculated, the FX rate effective on the day of transaction will be used.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Tax Info
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            This information is provided for Canadian tax filing purposes, and conforms to standards outlined by the Canada Revenue Agency. All figures are quoted in CAD. For further information on how capital gains / losses are treated under Canadian tax code, 
                                please refer to <a href="https://www.canada.ca/en/revenue-agency/services/forms-publications/publications/t4037/capital-gains.html">T4037(E)</a>.
                            <ul>
                                <li><strong>Proceeds</strong> are defined as the amount of money received for selling capital property. If this is in foreign currency terms, it is converted to CAD using the FX rate on the <b class="text-success">sale date</b>.</li>
                                <li><strong>ACB</strong> (Adjusted Cost Base) is defined as the cost of capital property, plus any expenses to acquire it. If this is in foreign currency terms, it is converted to CAD using the FX rate on the <b class="text-success">purchase date</b>.</li>
                                <li><strong>Outlays</strong> and expenses are the amounts that are incurred to sell capital property. They are deducted from the proceeds of disposition when calculating your capital gain or loss. If this is in foreign currency terms, it is converted to CAD using the FX rate on the <b class="text-success">sale date</b>.</li>
                                <li><strong>Capital Gain / Loss</strong> is calculated by subtracting the ACB, and any outlays and expenses incurred to sell capital property, from the proceeds of disposition. If the resulting figure is positive, it is a capital gain. If the figure is negative, it is a capital loss.</li>
                            </ul>
                            When comparing the results of this calculator to other records, such as those from other calculators or those self kept, there may be discrepancies that arise due to differences in methodology.
                            <ul>
                                <li><strong>Direct FX Quotes:</strong> This calculator uses direct currency quotes (price of one unit of foreign currency is expressed in terms of the domestic currency). This is in contract to indirect currency quotes (price of one unit of domestic currency is expressed in terms of foreign currency).
                                    If another calculation is done using an indirect quote, there will be a discrepancies in end results. This is because currencies are quoted in terms of 4 decimal places, yet the reciprocal is needed to accurately convert between them. 
                                    For example, if 1 USD = 1.3565, for no information to be lost, 1 CAD would need to be calculated as (1 / 1.3565) = 0.737191301..., however, it is likely the indirect quote was given as 0.7372. While both methods are valid, the direct approach is preferred, as it is the official rate that the Bank of Canada publishes.</li>
                                <li><strong>Rounding:</strong> There may be cases when rounding methodologies differ between this calculator and other calculators or brokerages. For example, in this calculator, principal amounts are not rounded to the nearest cent, whereas ECN fees and commissions are.</li>
                                <li><strong>ECN Fees:</strong> It is important to note how ECN fees are handled, as misconceptions could lead to incorrect results. The 'incur ECN' checkboxes are intended to specify wheather or not ECN fees will be levied on the full quantity of the trade (round lots and odd lots). 
                                    If left unchecked, ECN fees will still be levied against odd lots. For cases where you wish to have no ECN fees levied at all, the ECN parameters within the fee schedule should be adjusted to 0.</li>
                            </ul>
                            For any further questions regarding methodology, or to request new features, please contact me at <a href="mailto:daniel.boctor@ontariotechu.net">daniel.boctor@ontariotechu.net</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row justify-content-center" id="tax_container" style="display: none;">
        <div class="col-lg-6">
            <button type="button" class="btn btn-outline-success mb-2" id="back-to-body" onclick="back_to_body()">Back</button>
            <h3 style="color: green;" class="text-center" id="tax_table_title"></h3>
            <div id="tax_table_container" class="table-responsive" style="display: none;"></div>
            <div id="tax_table_message"></div>
        </div>
    </div>

    <div class="row justify-content-center" id="body">
        <div class="col-lg-6" id="form-container">
            <form id="post-form">
                <a onclick="refresh()" role="button" class="btn btn-link mt-1">Refresh Spreads
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow justify-content-center-clockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                    </svg>
                </a>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td id="td_cad"><div class="text-center mb-1"><button type="button" class="btn btn-outline-primary btn-sm spread"><small>Bid: </small><br><div id="TO-BID">&nbsp;</div></button><button type="button" class="btn btn-outline-primary btn-sm spread"><small>Ask: </small><br><div id="TO-ASK">&nbsp;</div></button></div>
                            <div id="td_TO_label">{{ form.DLR_TO.label }}</div> {{ form.DLR_TO }}</td>
                            <td id="td_usd"><div class="text-center mb-1"><button type="button" class="btn btn-outline-primary btn-sm spread"><small>Bid: </small><br><div id="U-BID">&nbsp;</div></button><button type="button" class="btn btn-outline-primary btn-sm spread"><small>Ask: </small><br><div id="U-ASK">&nbsp;</div></button></div>
                            <div id="td_U_label">{{ form.DLR_U_TO.label }}</div> {{ form.DLR_U_TO }}</td>
                        </tr>
                        <tr>
                            <td>
                                Buy FX rate (BoC Lookup)
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-primary" id="basic-addon1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check-fill" viewBox="0 0 16 16">
                                            <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                                        </svg>
                                    </span>
                                    <input type="date" id="buy_FX" class="form-control FX_lookup">
                                </div>
                            {{ form.buy_FX }}</td>
                            <td>
                                Sell FX rate (BoC Lookup)&nbsp;
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-primary" id="basic-addon1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check-fill" viewBox="0 0 16 16">
                                            <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                                        </svg>
                                    </span>
                                    <input type="date" id="sell_FX" class="form-control FX_lookup">
                                </div>
                            {{ form.sell_FX }}</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;">
                                <div id="to-convert">{{ form.initial.label }} to convert</div>
                                <div class="input-group">
                                    <span class="input-group-text" id="initial-type">$</span>
                                    {{ form.initial }}
                                </div>
                            </td>
                            <td>&nbsp;{{ form.initial_fx }}</td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.incur_buy_side_ecn.label_tag }}
                                {{ form.incur_buy_side_ecn }}
                            </td>
                            <td>
                                {{ form.incur_sell_side_ecn.label_tag }}
                                {{ form.incur_sell_side_ecn }}
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="modal fade" id="feeModal" tabindex="-1" aria-labelledby="feeModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="feeModalLabel">Fee Schedule</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <label for="buy_side_ecn" class="form-label">Buy Side ECN (dollars / share)</label>
                                                {{ form.buy_side_ecn }}
                                            </td>
                                            <td>
                                                <label for="sell_side_ecn" class="form-label">Sell Side ECN (dollars / share)</label>
                                                {{ form.sell_side_ecn }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="buy_side_comm" class="form-label">Buy Side Commission (dollars / share)</label>
                                                {{ form.buy_side_comm }}
                                            </td>
                                            <td>
                                                <label for="sell_side_comm" class="form-label">Sell Side Commission (dollars / share)</label>
                                                {{ form.sell_side_comm }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="lower_bound" class="form-label">Lower Bound on Commission (dollars / trade)</label>
                                                {{ form.lower_bound }}
                                            </td>
                                            <td>
                                                <label for="upper_bound" class="form-label">Upper Bound on Commission (dollars / trade)</label>
                                                {{ form.upper_bound }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <hr>
                                                <label for="brokers_spread" class="form-label">Brokers FX spread (%) for cost comparison (optional)</label>
                                                {{ form.brokers_spread }}
                                            </td>
                                            <td>
                                                <hr>
                                                <label for="dealers_rate" class="form-label">Dealers FX rate (1 USD = ) for cost comparison (optional)</label>
                                                {{ form.dealers_rate }}
                                            </td>
                                        </tr>
                                    </table>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Done</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="securitiesModal" tabindex="-1" aria-labelledby="securitiesModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="securitiesModalLabel">Change Securities</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h6>These fields are optional, and are used to change the pair of securities being used to something other than DLR.</h6>
                                <h6>Please enter all tickers <u>with</u> their official suffix. For example, securities trading on the TSX have a suffix of '.TO', while securities trading on the CVE have a suffix of '.V'.</h6>
                                <h6>Dashes (-) should be used for all other cases other than official suffixes, where a period (.) would otherwise reside. This includes share classes (BRK-A and BRK-B) as well as ticker names (DLR-U.TO)</h6>
                                    <table>
                                        <tr>
                                            <td>
                                                <label for="cad_ticker" class="form-label">CAD Ticker</label>
                                                {{ form.cad_ticker }}
                                            </td>
                                            <td>
                                                <label for="usd_ticker" class="form-label">USD Ticker</label>
                                                {{ form.usd_ticker }}
                                            </td>
                                        </tr>
                                    </table>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="refresh()">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group mb-2">
                    <button data-crudop="/" type="submit" class="btn btn-outline-teal">Submit</button>
                    <button type="button" class="btn btn-outline-teal dropdown-toggle dropdown-toggle-split" data-bs-toggle="collapse" data-bs-target="#crud_collapse" aria-expanded="false" aria-controls="crud_collapse">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                </div>
                <button type="button" class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#feeModal">Fee Schedule</button>                  
                <button type="button" class="btn btn-outline-secondary mb-2" data-bs-toggle="modal" data-bs-target="#securitiesModal">Change Securities</button>
                <div class="collapse mb-3 mt-1" id="crud_collapse">
                    <div class="card card-body">
                        <div class="input-group mb-2">
                            {{ form.name }}
                            <button data-crudop="{% if form.name.value %}/update/{{ form.name.value }}{% else %}/create{% endif %}" type="submit" class="btn btn-primary">
                                {% if form.name.value %}Update {{ form.name.value }}{% else %}Save Trade{% endif %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="input-group">
                            {% with is_disabled=form.portfolio.field.widget.attrs.disabled %}
                            {% if is_disabled %}
                                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" title="Optional - Select Portfolio" data-bs-trigger="focus"
                                data-bs-content="Trades can be bound to different portfolios.
                                To create your first portfolio, {% if user.is_authenticated %} head to the account settings for <a href='{% url 'user' user.username %}'>{{ user }}</a>{% else %} please <a href='{% url 'login' %}'>login</a> or <a href='{% url 'register' %}'>sign up</a>{% endif %}.">
                            {% endif %}
                                {{ form.portfolio }}
                            {% if is_disabled %}
                                </span>
                            {% endif %}
                            {% endwith %}
                            {{ form.date }}
                            <span class="input-group-text" id="basic-addon1">
                                {{ form.closed.label_tag }}&nbsp;
                                {{ form.closed }}
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="info" style="display: none;">

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggle_descriptions">
                    <label class="form-check-label" for="toggle_descriptions">Toggle Descriptions</label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <a class="text-teal" data-bs-toggle="collapse" href="#collapse0" role="button" aria-expanded="false" aria-controls="collapseExample"><h3 class="text-center">Transactions</h3></a>
            <div class="col-lg-6 mb-1">
                <div class="collapse show" id="collapse0"><div class="card card-body">
                    <div class="table-responsive" id="id_0"></div>
                </div></div>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <a class="text-teal" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample"><h3 class="text-center">Total Costs</h3></a>
            <div class="col-lg-6 mb-1">
                <div class="collapse show" id="collapse1"><div class="card card-body">
                    <div class="table-responsive" id="id_1"></div>
                </div></div>
            </div>
            <div class="col-lg-6 description mb-1">
                <div class="collapse show" id="collapse1"><div class="card card-body">
                    <ul>
                        <li><strong>Effective FX Rate</strong> is the FX rate required to achieve identical net results.
                            It is calculated as: ( amount converted + explicit costs ) / ( amount received - explicit costs ), expressed as a direct quote (price of one unit of foreign currency is expressed in terms of the domestic currency).</li>
                        <li><strong>Explicit Costs Incurred</strong> is the percentage of money converted that were lost to ECN fees and commissions.
                            It is calculated as: combined fees quoted in initial currency / amount of initial currency converted.</li>
                        <li><strong>Implicit Spread Earned / Payed</strong> is the percentage difference between what was payed on the buy side and what was received on the sell side.</li>
                            This term is gross of explicit costs. Over the short term, it represents the bid / ask spread payed / received, but over longer periods of time, a meaningful price drift may occur between the Canadian and US dollar. 
                            This can be thought of as the gross return on the trade, and can be positive or negative. It is calculated as: amount received on sell side (quoted in terms of the initial currency on the sell date) / amount converted on buy side.
                        <li><strong>TOTAL RETURN</strong> is a net figure, and represents the net return on the trades. It takes into account both the explicit fees payed, as well as the spread.
                            It is calculated as: ( amount received on the sell side - local sell fees (both quoted in terms of the initial currency on the sell date) - local buy fees ) / amount converted on buy side.</li>
                        <li><strong>TOTAL P&L</strong> is the net dollar gain / loss expressed in the initial currency.
                            It is calculated as: ( amount received on the sell side - local sell fees (both quoted in terms of the initial currency on the sell date) - local buy fees ) - amount converted on buy side.</li>
                            <ul><li>If the optional brokers FX spread field is used, the BoC rate on the buy date will be used as the base FX rate, and the amount of currency converted will be the same amount as Norbert's Gambit. This figure is also quoted in terms of the initial currency.</li></ul>
                    </ul>
                </div></div>
            </div>
        </div>

        <div class="row justify-content-center">
            <a class="text-teal" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample"><h3 class="text-center">Explicit Costs</h3></a>
            <div class="col-lg-6 mb-1">
                <div class="collapse" id="collapse2"><div class="card card-body">
                    <div class="table-responsive" id="id_2"></div>
                </div></div>
            </div>
            <div class="col-lg-6 description mb-1">
                <div class="collapse" id="collapse2"><div class="card card-body">
                    <ul>
                        <li>Explicit costs are defined as negative cash flows payed to a third party. In this case, explicit costs are comprised of ECN fees and commissions.</li>
                        <li><strong>Local Cost</strong> represents the amount of money that was payed in each respective currency.</li>
                        <li><strong>Combined Cost</strong> represents the total amount of money payed throughout the entire procedure, quoted in both CAD and USD.
                            When converting between currencies, the FX rate effective on the day of transaction will be used.</li>
                    </ul>
                </div></div>
            </div>
        </div>

        <div class="row justify-content-center">
            <a class="text-teal" data-bs-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapseExample"><h3 class="text-center">ECN Fees</h3></a>
            <div class="col-lg-6 mb-1">
                <div class="collapse" id="collapse3"><div class="card card-body">
                    <div class="table-responsive" id="id_3"></div>
                </div></div>
            </div>
        </div>

        <div class="row justify-content-center">
            <a class="text-teal" data-bs-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapseExample"><h3 class="text-center">Commissions</h3></a>
            <div class="col-lg-6 mb-1">
                <div class="collapse" id="collapse4"><div class="card card-body">
                    <div class="table-responsive" id="id_4"></div>
                </div></div>
            </div>
        </div>

        <div class="row justify-content-center">
            <a class="text-teal" data-bs-toggle="collapse" href="#collapse5" role="button" aria-expanded="false" aria-controls="collapseExample"><h3 class="text-center">Tax Information</h3></a>
            <div class="col-lg-6 mb-1">
                <div class="collapse" id="collapse5"><div class="card card-body">
                    <div class="table-responsive" id="id_5"></div>
                </div></div>
            </div>
        </div>
    </div>

{% endblock %}