{% extends "NG/layout.html" %}

{% block title %}Reset Password{% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col-lg-8 mb-2">
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible sticky-top fade show text-center" role="alert">
                    <strong>Error:</strong> {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6 mb-2">

            <div class="card">
                <h2 class="card-header text-center">Reset Password</h2>
                <div class="card-body">
                    <form action="{% url 'password_reset' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Email:</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email" required="">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Request Password Reset">
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}