{% extends "NG/layout.html" %}

{% block title %}Complete{% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col-lg-6 mb-2">

            <div class="card">
                <h2 class="card-header text-center">Complete!</h2>
                <div class="card-body">
                    Your password has been successfully reset!
                </div>
                <div class="card-footer text-muted">
                    <small><a href="{% url 'login' %}">Log In here</a></small>
                </div>
            </div>

        </div>
    </div>

{% endblock %}